@media (max-width: 480px) {

    nav {

        .menu {

            display: none;



        }



        .dropdown {
            display: block;



        }




        .logo {
            width: 300px;
            height: 300px;
        }

    }

    h1 {
        font-size: 1.5rem;
    }

    .foto-perfil {
        width: 250px;
        height: 250px;
    }



    section {

        .titulo {
            font-size: 16px;
            font-weight: 500;
        }

        .paragrafo {
            font-size: 13px;

        }

        .sobre-titulo {
            margin-top: -70%;
        }



    }

    section {



        .div-parceira {
            display: grid;
            align-items: center;
            padding: 10px;

        }

        .img-parceira {
            width: 325px;
            height: 275px;

        }

        .titulo-empresa-parceira {
            font-size: 18px;
            margin-bottom: 15px;
        }

        .paragrafo-parceira {
            font-size: 14px;
            text-align: left;
        }

    }

    section {


        .div-jornada {
            display: grid;
            align-items: center;
            padding: 10px;

        }

        .img-jornada {
            width: 405px;
            height: 550px;

        }

        .caixa-jornada {
            padding: 1rem;
        }

        .jornada-titulo {
            font-size: 22px;
            margin-bottom: 15px;
        }

        .paragrafo-jornada {
            font-size: 14px;
            text-align: left;
        }

    }

    footer {
  
        .mapa {

            width: 400px;
            height: 500px;
            padding: 5px;
            border-radius: 12px;

        }
        .caixa-rodape {
            display: block;

        }

    }





}
