@media (max-width: 480px) {

    nav {

        .menu{

            display: none;
            
           

        }

      

        .dropdown{
            display: block;
           
        
            
        }

        
        

        .logo {
            width: 300px;
            height: 300px;
        }

    }

    h1 {
        font-size: 1.5rem;
    }
    .foto-perfil{
        width: 250px;
        height: 250px;
    }



    section{

    .titulo{
        font-size:  16px;
        font-weight: 500;
    }

    .paragrafo{
        font-size: 13px;

    }
    .sobre-titulo{
        margin-top: -70%;
    }


 
   }

}

